<%include ../layoutTop.ejs %>

        <section class="promo">
            <div class="wrap">
                <div class="promo-text">
                    <div class="promo-title">WEAR OR TEAR MOBILE APP</div>
                    <p>WearOrTear helps you discover just the right products for you.
                        We have a huge collection from multiple stores across the globe
                        from which you can pick and choose what you want for yourself.</p>
                    <p><a class="promo-button" href="http://ad.apps.fm/bYKYNc4Cvz8KwO8bLtyveV5KLoEjTszcQMJsV6-2VnHFDLXitVHB6BlL95nuoNYfH5OdcLS2Zr8-RS4guH0Mfwj8Z0IhQGNT4mTcfH2nhqSNXDNE9HwMvm89mEgfX6cS">DOWNLOAD</a> &nbsp; <!--a class="promo-link" href="#">Learn more</a--></p>
                </div><!-- promo-text -->
                <img src="upload/promo.png" width="333" height="578" alt="">
            </div><!-- wrap -->
        </section><!-- promo -->
        <section class="simple">
            <div class="wrap">
                <h1>All your favorite products in one place </h1>
                <p>You can window shop from palm of your hand. We’ve brought together products from various stores
                    which you can browse in a fun and engaging way.</p>
            </div><!-- wrap -->
        </section><!-- simple -->
        <section class="features">
            <div class="wrap">
                <div class="features-columns clearfix">
                    <div class="feature">
                        <div class="ico-help"></div>
                        <h4>DISCOVER GREAT PRODUCTS</h4>
                        <p>Our recommendation engine finds out the best products based on user's preferences and people's review, making it easy to discover the right product.</p>
                    </div><!-- feature -->
                    <div class="feature">
                        <div class="ico-like"></div>
                        <h4>WINDOW SHOPPING MADE FUN</h4>
                        <p>We've made it super-easy and interactive to window shop. We also have cool social features to make the whole experience engaging for the user.</p>
                    </div><!-- feature -->
                    <div class="feature">
                        <div class="ico-present"></div>
                        <h4>EXPRESS YOUR STYLE</h4>
                        <p>Our core interaction allows you to express your style and let everyone know what you find really cool.</p>
                    </div><!-- feature -->
                </div><!-- features-columns -->
            </div><!-- wrap -->
        </section><!-- features -->
        <section class="tabsblock hidden">
            <div class="wrap">
                <div class="tab">
                    <ul class="tabs clearfix">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul><!-- tabs -->
                    <div class="box visible">
                        <div class="box-text">
                            <h3>Really easy game-like interface to browse the content.</h3>
                            <p>You just need to swipe left/right to express your taste and move to the new product. Our algorithm keeps learning your choice and shows you the best products.</p>
                        </div>
                        <img src="upload/tabs.png" width="437" height="459" alt="">
                    </div><!-- box -->
                    <div class="box">
                        <div class="box-text">
                            <h3>No need to </h3>
                            <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.</p>
                        </div>
                        <img src="upload/tabs.png" width="437" height="459" alt="">
                    </div><!-- box -->
                    <div class="box">
                        <div class="box-text">
                            <h3>The easiest way to show off your best apps</h3>
                            <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit aliquet felis, quis ultrices orci condiment.</p>
                        </div>
                        <img src="upload/tabs.png" width="437" height="459" alt="">
                    </div><!-- box -->
                </div><!-- tab --> 
            </div><!-- wrap -->
        </section><!--  -->
        <section class="simple hidden">
            <div class="wrap">
                <h2>Discover. Give. Impact.</h2>
                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
            </div><!-- wrap -->
        </section><!-- simple -->
        <section class="subscribe">
            <div class="wrap">
                <div class="subscribe-title">Subscribe to our newsletter</div>
                <div class="subscribe-form clearfix">

                        <!--form action="//wearortear.us9.list-manage.com/subscribe/post?u=ba206108340602f52526bf892&amp;id=ed7d9c3e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <!--div style="position: absolute; left: -5000px;"><input type="text" name="b_ba206108340602f52526bf892_ed7d9c3e75" tabindex="-1" value=""></div>
                                <input type="button" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

                        </form-->

                    <form action="//wearortear.us9.list-manage.com/subscribe/post?u=ba206108340602f52526bf892&amp;id=ed7d9c3e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" placeholder="Your email address" class="subscribe-email" name="EMAIL" id="mce-EMAIL" required>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba206108340602f52526bf892_ed7d9c3e75" tabindex="-1" value=""></div>
                        <input type="submit" value="Subscribe" class="subscribe-button" name="subscribe" id="mc-embedded-subscribe">
                    </form>
                </div>
                <div class="subscribe-note">If you want to recieve monthly updates from us just pop your email inthe box.<br>We think that spam is for jerks. And jerks we are not.</div>
            </div><!-- wrap -->
        </section><!-- subscribe -->

<%include ../layoutBottom.ejs %>
