<%include ../layoutTop.ejs %>

    <section class="promo">
        <div class="wrap">
            <div class="promo-text">
                <div class="promo-title">Thanks for signing up</div>
                <p>We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.</p>
                <p><a class="promo-button" href="/">HOME</a> &nbsp; <!--a class="promo-link" href="#">Learn more</a--></p>
            </div><!-- promo-text -->
            <img src="upload/promo.png" width="333" height="578" alt="">
        </div><!-- wrap -->
    </section><!-- promo -->
<%include ../layoutBottom.ejs %>
