<%include ../layoutTop.ejs %>

<section class="promo">
    <div class="wrap">
        <div class="promo-text">
            <div class="promo-title">Welcome to WoTers gang.</div>
            <p>Your subscription to our list has been confirmed. We'll keep you posted with all the interesting things happening at our end.</p>
            <p><a class="promo-button" href="/">HOME</a> &nbsp; <!--a class="promo-link" href="#">Learn more</a--></p>
        </div><!-- promo-text -->
        <img src="upload/promo.png" width="333" height="578" alt="">
    </div><!-- wrap -->
</section><!-- promo -->
<%include ../layoutBottom.ejs %>
