upstream <%= application %> {
  server 127.0.0.1:<%= app_port %>;
}

server {
  <% if listen_port %>
  listen <%= listen_port %>;
  <% end %>
  client_max_body_size 4G;
  server_name <%= server_name %>;
  keepalive_timeout 5;
  root <%= "#{deploy_to}/current/public" %>;
  try_files $uri/index.html $uri.html $uri @<%= application %>;
  
  location / {
    proxy_set_header  X-Real-IP  $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    if (-f $request_filename/index.html) {
                     rewrite (.*) $1/index.html break;
    }

    if (-f $request_filename.html) {
                     rewrite (.*) $1.html break;
    }

    if (!-f $request_filename) {
                     proxy_pass http://<%= application %>;
                     break;
    }
  }

  if (-f $document_root/system/maintenance.html) {
    return 503;
  }

  error_page 500 502 504 /500.html;
  location = /500.html {
    root <%= "#{deploy_to}/current/public" %>;
  }

  error_page 503 @maintenance;
  location @maintenance {
    rewrite  ^(.*)$  /system/maintenance.html break;
  }
}