<footer>
    <div class="wrap">
        <div class="logo">
            <a href="#">
                <img src="upload/logo-min.png" width="64" height="52" alt="SPORTHERE, YOUR SPORT DASHBOARD">
            </a>
        </div><!-- logo -->
        <div class="istore"><a href="http://ad.apps.fm/bYKYNc4Cvz8KwO8bLtyveV5KLoEjTszcQMJsV6-2VnHFDLXitVHB6BlL95nuoNYfH5OdcLS2Zr8-RS4guH0Mfwj8Z0IhQGNT4mTcfH2nhqSNXDNE9HwMvm89mEgfX6cS">Available in Play Store</a></div>
        <div class="copy">
            <p>Copyright &copy; 2014 Treepie Technologies Private Limited</p>
        </div><!-- copy -->
        <div class="social">
            <ul class="clearfix">
                <li><a class="social-facebook" href="http://www.facebook.com/wearortear.co" title="facebook">facebook</a></li>
                <li><a class="social-twitter" href="http://www.twitter.com/wearortearco" title="twitter">twitter</a></li>
            </ul>
        </div><!--social -->
    </div><!-- wrap -->
</footer>
</section><!-- main -->
<script src="js/jquery.js"></script>
<script src="js/library.js"></script>
<script src="js/script.js"></script>
<script src="js/retina.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58080809-1', 'auto');
    ga('send', 'pageview');

</script>

  </body>
</html>