<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>WearOrTear</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
    <script src="/script.js"></script>
</head>
<body class="no-js">
<section class="main">
    <header>
        <div class="wrap">
            <div class="logo">
                <a href="/">
                    <img src="upload/logo.png" width="262" height="52" alt="SPORTHERE, YOUR SPORT DASHBOARD">
                </a>
            </div><!-- logo -->
            <div class="social">
                <ul class="clearfix">
                    <li><a class="social-facebook" href="http://www.facebook.com/wearortear.co" title="facebook">facebook</a></li>
                    <li><a class="social-twitter" href="http://www.twitter.com/wearortearco" title="twitter">twitter</a></li>
                </ul>
            </div><!--social -->
        </div><!-- wrap -->
    </header>